.artboard
  
  .stars
    - for (var x = 0; x < 6; x++)
      .star
  
  .stars2
    - for (var x = 0; x < 6; x++)
      .star
  
  .moon
    .ship
      span
  .light
 
  .cloud1
    span
  .cloud2
    span
    
  .sea
    - for (var x = 0; x < 4; x++)
      .beams
  
    .text
      h1 Beatrix
      
      p Moon is our house's roof, stars our dreams