.settings{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(110, 110, 110, 0);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.settings .container{
    border: 1px solid #333;
    border-radius: 8px;
    margin: 10% auto;
    display: block;
    width: 320px;
    padding: 20px;
    text-align: center;
    color: white;
    background: rgba(0 0 0);
}
.settings .close{
   display:block;
   margin:30px auto;
}
.settings .header{
    text-transform: uppercase;
    font-size:16px;
    font-weight:500
}
.settings span.option{
    border:1px solid rgba(90, 143, 179, 1);
    background:transparent;
    border-radius: 6px;
    margin-right:8px;
    padding:5px;
    text-transform: uppercase;
    font-size: 14px
}

.settings span.option:hover,.settings span.option.selected{
    background: rgba(90, 143, 179, 1);
    cursor:pointer;
}


.UI{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border:1px solid rgba(55,55,55,0.8);
    border-radius:6px;
    margin:40px auto;
    max-width:300px;
    height:150px;
    background:rgba(90, 143, 179, 0.8);
    padding:8px;

}
.UI h1{
   display:block;
   text-align:center;
   font-weight:400;
   text-transform:uppercase
}
.UI h3{
    text-align:center;
    font-weight:400;
    font-style:italic;
}
.UI .col button{
    margin-right: 10px;
    float: left;
}
.UI button{
    border:1px solid white;
    border-radius:6px;
    padding:6px;
    margin:15px auto;
    display: block;
}
.UI button.red:hover{
    background:rgb(95, 5, 5)!important;

}
.UI button:hover{
    border:1px solid white;
    color:white;
    background:rgb(7, 44, 146);

}
.nine_nine{
    display:flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 40px auto;
}
.nine_nine .box span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 64px;
    font-weight:600;
    color:white;
    text-align: center;
    display: block;
    line-height:64px;
}
.nine_nine .box{
    flex: 0 32%;
    border: 1px solid black;
    background: rgba(255,255,255,0.3);
    padding:16% 0;
    height:64px;
    position: relative;
    margin-bottom: 2%;
}
.nine_nine .box:nth-child(1){
    border-radius:10px 0 0 0 ;
}
.nine_nine .box:nth-child(3) {
    border-radius: 0 10px 0 0px;
}
.nine_nine .box:nth-child(7) {
    border-radius: 0 0 0 10px;
}
.nine_nine .box:nth-child(9) {
    border-radius: 0 0 10px 0px;
}
/* .nine_nine .box .button{
    width:30px;
    height:30px;
    border:none;
    background:transparent;
    padding:5px;
} */